html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  margin: 0;
}

.app {
  width: 100%;
  display: flex
}

div {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex: 0.4;
  height: 100vh;
  padding: 50% 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(204, 242, 244);
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.canvas{
  display: flex;
  flex: 3;
  height: 100vh;
  overflow: hidden;
}

.landing{
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.open {
  height: 10rem;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.landing-pixel-inner {
  display: flex;
}

.landing-pixel-outer{
  display: flex;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid black;
  background-color: beige;
  border-radius: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 111px;
  font-weight: bold;
  text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}